.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  overflow: hidden;
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}
